<html>
<body>
 <h1>About Screen</h1>
 <p>Movies World has been prepared for the people to store their memorable moments of life which is mostly when people watch movies with their friends and family.</p>
 <p> So,you can store your memories and at the end of the year you can remember those memories and enjoy every year of your life.</p>

</body>
</html>