<html>

<body>
	<h1>Welcome to Movies World</h1>
	<br>
	<br>
	<p>
   	<img src="http://ajinkyapokharkar.files.wordpress.com/2013/02/best-bollywood-movies-of-2012.jpg" width="1000" height="500" title="Memories"/>
 	</p>
	<p align="center">You can add new movies and view your movies here:</p>
  <div style="text-align: center">
   <a href="<%=movies_path%>" align="center">Movies World</a>
  </div>
</body>
</html>